
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<h2>Skönsmons Halvmaraton</h2>
<br/>

<p>Välkomna till årets upplaga av Skönsmons Halvmaraton!!</p>

@Html.ActionLink("Kontakta oss", "Contact", "Main", null)